body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e, j#fae7c4, #fbc2eb, #a18cd1);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

ul.ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

ul.ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    /* text-align: left; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
